<style>
    .home{
        display: none;
    }
    .title{
        font-family: BungeeSpice;
        font-size: 3em;
        text-align: center;
        margin-top: 8%
    }
</style>
<h1 class="title">Nationale</h1>
<div class="homeSelections">
<a href="/search">Search Recipes</a>
<a href="/login">Login</a>
<a href="/register">Register</a>
</div>


