<div class ='homeSelections'>
<a href="/search">Search Recipes</a>
<a href="/logout">Logout</a>
</div>

<h2 class="myRecipes">My Recipes</h2>

<div class="searchFlexWrap">
{{#each data}}
<div class="searchResult" id="searchResult">
<h3><a href="/recipeDetail/{{this.apiId}}">{{this.label}}</a></h3>
<img src="{{this.thumbnail}}"/>
<a class="deleteRecipe" href="/delete/{{this._id}}">Remove Recipe</a>
</div>
{{/each}}
</div>