<h1 class="login">Register</h1>

<form class="registerForm"action="/register" method="post">
    <div>
    <label>Email address</label>
    <input type="email" name="email"/>
    <label>Username</label>
    <input type="text" name="username"/>
    </div>
    <div>
    <label>Password</label>
    <input type="password" name="password"/>
    <label>Confirm Password</label>
    <input type="password" name="passwordConfirm"/>
    </div>
    <button type="submit">Create Account</button>
</form>