
<form class="searchForm" id="searchForm"action="/searchCuisine" method="get">
    <div>
    <button type="submit" name="cuisine" value="American">American</button>
    <button type="submit" name="cuisine" value="Asian">Asian</button>
    <button type="submit" name="cuisine" value="British">British</button>
    <button type="submit" name="cuisine" value="Caribbean">Caribbean</button>
    <button type="submit" name="cuisine" value="Central Europe">Central Europe</button>
    <button type="submit" name="cuisine" value="Chinese">Chinese</button>
    <button type="submit" name="cuisine" value="Eastern Europe">Eastern Europe</button>
    <button type="submit" name="cuisine" value="French">French</button>
    <button type="submit" name="cuisine" value="Indian">Indian</button>
    </div>
    <div id="searchKeyword">
        <p>Choose a cuisine to recieve a list of recipes corresponding to what was chosen.
            Adding a keyword to the text box will additionally refine your search.</p>
        <input type="text" name="name" style="text-align: center;" placeholder="(Optional)">
    </div>
    <div>
    <button type="submit" name="cuisine" value="Italian">Italian</button>
    <button type="submit" name="cuisine" value="Japanese">Japanese</button>
    <button type="submit" name="cuisine" value="Kosher">Kosher</button>
    <button type="submit" name="cuisine" value="Mediterranean">Mediterranean</button>
    <button type="submit" name="cuisine" value="Mexican">Mexican</button>
    <button type="submit" name="cuisine" value="Middle Eastern">Middle Eastern</button>
    <button type="submit" name="cuisine" value="Nordic">Nordic</button>
    <button type="submit" name="cuisine" value="South American">South American</button>
    <button type="submit" name="cuisine" value="South East Asian">South East Asian</button>
    </div>
</form>