
<h1 class='recipesLabel' id="recipesLabel"> Recipes</h1>
<div class="searchFlexWrap">
{{#each searchResult}}
<div class="searchResult" id="searchResult">
<h2><a href="/recipeDetail/{{uri}}">{{label}} </a></h2>
<img src="{{thumbnail}}"/>
</div>
{{/each}}
</div>