
@font-face{
  font-family: BungeeSpice;
  src: url('/fonts/BungeeSpice-Regular.ttf')
}
@font-face{
  font-family: JosefinSans;
  src: url('/fonts/JosefinSans-Italic-VariableFont_wght.ttf')
}
@media (max-width: 1189px) and (min-width: 431px) {
  #title{
    margin-top: 15%
  }
  body{
    background-attachment: fixed;
    background-position: center;
  }
}
@media (max-width: 430px){
  body {
    background-image: url('/images/nationaleBG.jpg');
    background-size: 75%;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-position: center;
    background-color: rgba(37, 22, 6, 0.938);
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  }
  .title{
    font-size: 2em
  }
  #loginForm{
    margin-top: 45%;
  }
  #loginForm label,
  #loginForm input,
  #loginForm button{
    font-size: 1.5em;
    width: 60%
  }
  #registerForm{
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 45%;
  }
  #registerForm div{
    width: 75%
  }
  #login{
    width: 50%;
    position: absolute;
    right: 25%;
    top: 15%
  }
  #searchForm{
    margin-top: 65%;
  }
  #searchKeyword{
    position: absolute;
    top: 12%
  }
  #searchResult{
    width: 85%
  }
  #recipesLabel{
    width: 45%
  }
  #detailImg{
    width: 100%;
  }
}
@media (min-width: 430px) and (max-width: 770px){
  #loginForm{
    margin-top: 30%
  }
  #registerForm{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 35%;
  }
  #searchForm{
    margin-top: 35%
  }
  #searchForm div{
    width: 50%
  }
  #searchKeyword{
    position: absolute;
    top: 15%
  }
  #searchResult{
    width: 40%
  }
  #recipesLabel{
    width: 30%
  }
  #detailImg{
    width: 100%;
  }
}
@media (min-width: 430px) and (max-width: 650px){
  #searchForm{
    margin-top: 50%
  }
}
@media (max-width: 500px){
  #searchForm{
    flex-direction: column;
    align-items: center;
  }
  #searchForm div{
    width: 75%
  }
}
@media (min-width: 420px){
.title{
  font-size: 3em;
}
}
body {
  /* font-family: JosefinSans; */
  background-image: url('/images/nationaleBG.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgba(37, 22, 6, 0.938);
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  padding: 50px;
}
a,
span {
  font-family: JosefinSans;
  color: black;
}
nav{
  display: flex;
  justify-content: space-between;
}
nav a,
span{
  border: 1px solid lightgoldenrodyellow;
  background-color: lightgoldenrodyellow;
  padding: 1% 2%;
  border-radius: 12px;
  text-decoration: none;
}
.loginForm,
.homeSelections{
  margin-top: 3%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.loginForm{
  margin-top: 20%
}
.login{
  position: absolute;
  right: 36%;
  top: 15%
}
.login,
.loginForm label,
.loginForm input,
.loginForm button,
.homeSelections a{
  font-family: JosefinSans;
  text-align: center;
  border: 1px solid lightgoldenrodyellow;
  background-color: lightgoldenrodyellow;
  width: 25%;
  padding: 1%;
  margin: 1% 0;
  border-radius: 12px;
  text-decoration: none;
}
.registerForm{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 15%;
}
.registerForm label,
.registerForm input,
.registerForm button{
  font-family: JosefinSans;
  text-align: center;
  border: 1px solid lightgoldenrodyellow;
  background-color: lightgoldenrodyellow;
  padding: 1%;
  margin: 1% 0;
  border-radius: 12px;
  text-decoration: none;
  font-size: 2em
}
.registerForm div{
  display: flex;
  flex-direction: column;
  width: 40%
}
.searchForm input,
.searchForm button{
  font-family: JosefinSans;
  text-align: center;
  border: 1px solid lightgoldenrodyellow;
  background-color: lightgoldenrodyellow;
  padding: 1%;
  margin: 1% 0;
  border-radius: 12px;
  text-decoration: none;
  font-size: 2em;
}
.searchForm{
  margin-top: 5%;
  display: flex;
  justify-content: space-around;
}
.searchForm div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 30%
}
.searchForm p{
  font-family: JosefinSans;
  text-align: center;
  border: 1px solid lightgoldenrodyellow;
  background-color: lightgoldenrodyellow;
  padding: 1%;
  margin: 1% 0;
  border-radius: 12px;
}
.searchFlexWrap{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.searchResult{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: JosefinSans;
  text-align: center;
  border: 1px solid lightgoldenrodyellow;
  background-color: lightgoldenrodyellow;
  padding: 1%;
  margin: 1% 0;
  border-radius: 12px;
  width: 15%;
  margin-right: 5%;
}
.recipesLabel{
  display: flex;
  justify-content: center;
  font-family: JosefinSans;
  text-align: center;
  border: 1px solid lightgoldenrodyellow;
  background-color: lightgoldenrodyellow;
  width: 25%;
  padding: 1%;
  margin: 1% 0;
  border-radius: 12px;
  text-decoration: none;
}
.recipeDetail{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.recipeDetail div{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: JosefinSans;
  text-align: center;
  border: 1px solid lightgoldenrodyellow;
  background-color: lightgoldenrodyellow;
  padding: 1%;
  margin: 1% 0;
  border-radius: 12px;
  width: 95%
}
.recipeDetail li{
  list-style: none;
}
#yieldAndUrl{
  display:flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
#yieldAndUrl h2{
  border: 1px solid black;
  padding: 1%;
  border-radius: 12px;
  font-size: 1.5em
}
#yieldAndUrl a{
  text-decoration: none;
}
#recipeButton{
  border: 1px solid black;
  background-color: lightgoldenrodyellow;
  border-radius: 12px;
  font-size: 1.5em;
  padding: 1%;
  display: flex;
  justify-content: flex-start;
}
.detailImg{
  border: 5px solid lightgoldenrodyellow;
  border-radius: 12px;
  margin-top: 5%
}
.myRecipes{
  border: 1px solid lightgoldenrodyellow;
  background-color: lightgoldenrodyellow;
  border-radius: 12px;
  font-size: 1.5em;
  padding: 1%;
  display: flex;
  justify-content: center;
}
.deleteRecipe{
  border: 1px solid black;
  background-color: black;
  color: white;
  border-radius: 12px;
  text-decoration: none;
}
#nutrientList{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap
}
#nutrients{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: rgb(152, 152, 98);
  border: 1px solid lightgray;
  border-radius: 0px;
  width: 20%;
  margin-right: 1%
}
@media (min-width: 430px) and (max-width: 650px){
  #nutrients{
    width: 40%
  }
}
@media (max-width: 429px){
  #nutrients{
    width: 75%
  }
}